* {
    margin: 0;
    padding: 0;
    font-family: Google Sans, sans-serif;
}

.learn-more-main-container {
    width: 85%;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
}

.learn-more-container, .quest-finishers {
    width: 50%;
}

.quest-finishers {
    background: #dbdbdb;
    padding: 40px;
    box-sizing: border-box;
}

.learn-more-container h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 31.25px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #222222;
    margin-top: 10px;
    margin-bottom: 10px;
}

.yellow-bar {
    width: 100vw;
    height: 16px;
    background: #FFD457;
}

.quest-info {
    display: flex;
    margin-bottom: 30px;
}

.quest-info .tag-text {
    padding-left: 10px;
}

.quest-info div:not(:first-child) {
    margin-left: 25px;
}

.learn-more-container .text-description {
    font-style: normal;
    font-weight: normal;
    font-size: 12.8px;
    line-height: 18px;
    /* or 141% */

    letter-spacing: 0.02em;

    color: #222222;
    width: 70%;

}

.text-description {
    margin-bottom: 30px;
}

.quest-description-container .quest-description {
    font-style: normal;
    font-weight: normal;
    font-size: 12.8px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #222222;
}

.quest-description-container div img {
    padding-left: 10px;
    padding-right: 10px;
}

.quest-description-container div:not(:first-child) {
    margin-top: 10px;
}

.enroll-button {
    background: #222222;
    border: 3px solid #222222;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;

    color: #FFFFFF;
    padding: 8px 32px;
    margin-top: 55px;
}

.enroll-subheading {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 13px;
    /* identical to box height */

    letter-spacing: 0.02em;

    color: #8E8E8E;
    margin-top: 7px;
}

.quest-finishers-collection {
    display: flex;
    flex-wrap: wrap;
}


.question-heading {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 25px;
    letter-spacing: 0.02em;
    margin: 50px 0;
    color: #222222;

}
.quest-finishers-child {
    display: flex;
    align-items: center;
    margin: 32px 0;
    width: 50%;
}

.person-info p {
    font-family: Google Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;

    color: #222222;
    margin-left: 12px;

}

.person-info .person-name {
    font-family: Google Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;

    color: #222222;
}

@media screen and (max-width: 1200px) {
    .learn-more-main-container {
        display: block;
    }
    .learn-more-container, .quest-finishers {
        width: 100%;
    }


    .quest-finishers {
        margin-top: 50px;
    }

    .text-description {
        font-size: 20px;
        width: 90% !important;
    }


    .quest-finishers-child {
        width: 40%;
        margin-left: 6%;
    }

    .info-tags {
        font-size: 25px;
    }

    .logo img {
        width: 250px;
        margin: 0 auto;
        text-align: center;
    }

    .logo {
        display: flex;
        margin: auto;
        margin-bottom: 50px;
    }
}