/* FOR NAVBAR */

nav img {
    vertical-align: middle; 
}

nav .navigation-primary {
    display: inline-block;
}

nav a {
    text-decoration: none;
    display: inline-block;
    margin-right: auto;
}

nav span {
    font-family: Circular Std, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18.5px;
    line-height: 23px;
    letter-spacing: 0.02em;

    color: #222222;
}

nav .text-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navigation-primary, .navigation-secondary {
    display: inline-block;
}

.navigation-secondary a, .navigation-secondary div {
    font-family: Google Sans, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */

    letter-spacing: 0.02em;

    /* Black */

    color: #151522;
    margin-left: 20px;
    margin-right: 20px;
    

}

.navigation-secondary button {
    display: inline-block;
    border: 1.5px solid #222222;
    box-sizing: border-box;
    padding: 4px 16px;
}