* {
    margin: 0;
    padding: 0;
}
/* FOR NAVBAR */

nav {
    margin: 20px 0;
}

nav img {
    vertical-align: middle; 
    margin-top: -5px;
}

nav .navigation-primary {
    display: inline-block;
}

nav a {
    text-decoration: none;
    display: inline-block;
    margin-right: auto;
}

nav span {
    font-family: Circular Std, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18.5px;
    line-height: 23px;
    letter-spacing: 0.02em;

    color: #222222;
}

nav .text-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navigation-primary, .navigation-secondary {
    display: inline-block;
}

.navigation-secondary a, .navigation-secondary div {
    font-family: Google Sans, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */

    letter-spacing: 0.02em;

    /* Black */

    color: #151522;
    margin-left: 20px;
    margin-right: 20px;
    

}

.navigation-secondary button {
    display: inline-block;
    border: 1.5px solid #222222;
    box-sizing: border-box;
    padding: 4px 16px;
}

















/*FOR HOME FINSIHERS*/
.home-finishers-container {
    background: #FFD457;
    padding: 64px 0;
    width: 100%;
}

.home-finishers-container .content-container {
    width: 90%;
    margin: 0 auto;
}

.home-finishers-container .header-groupings h1 {
    text-align: center;
    font-family: Google Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 39.06px;
    line-height: 50px;
    /* identical to box height */

    text-align: center;

    color: #222222;

}

.home-finishers-container .header-groupings h2 {
    text-align: center;
    font-family: Google Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.02em;

    color: #222222;
}

.people-collection {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.people-collection-child {
    display: flex;
    align-items: center;
    width: 25%;
    margin: 32px 0;
    justify-content: center;
}

.person-info p  {
    font-family: Google Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;

    color: #222222;
    margin-left: 12px;

}
.person-info .person-name {
    font-family: Google Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;

    color: #222222;
}

.home-finishers-container .link-holder {
    margin: 20px auto 0 auto;
}

.link-holder p {
    text-align: center;
}

#view-more-link {
    font-family: Google Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.02em;

    color: #222222;
    text-decoration: none;
    border: 4px solid #222222;
    box-sizing: border-box;
    padding: 4px 16px;
}

@media screen and (max-width: 1050px) {
    .people-collection-child {
        width: 50%;

    }

    .home-finishers-container .header-groupings h1 {
        font-size: 26px;
    
    }
    
    .home-finishers-container .header-groupings h2 {
        font-size: 17px;
    }
}

@media screen and (max-width: 600px) {
    .home-finishers-container {
        width: 100%;
    }
    .people-collection-child div img {
        width: 60%;
        height: 60%;
    }

    .person-info p {
        margin-left: -12px;
    }
}












/*FOR FOOTER*/

footer {
    background: #222222;
    height: 360px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.footer-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
}

footer img {
    vertical-align: middle;
    margin-top: -5px;
}
footer #footer-finisher {
    font-family: Circular Std, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18.5px;
    line-height: 23px;
    letter-spacing: 0.02em;

    color: #FFFFFF;

}

.footer-secondary {
    display: flex;
    justify-content: flex-end;
}

.footer-secondary a {
    font-family: Google Sans, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 64px;
}

.footer-container-lower {
    
    width: 90%;
    margin: 0 auto;
    font-family: Google Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12.8px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #C4C4C4;

    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 5%;
    padding-bottom: 64px;
}

.footer-container-lower div {
    width: 45%;
}

.footer-container-lower .login-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.footer-container-lower .login-container #admin-login {
    font-family: Google Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12.8px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.02em;
    color: #8E8E8E;
}
